<h3>From:</h3>
<p class="font-size-16"><%=@message.sender.first_name %></p>
<h3>Subject</h3>
<p class="font-size-16"><%=@message.subject%>
<h3>Message</h3>
<p class="font-size-16"><%=@message.message.html_safe %></p>