<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="">
      <p>From: <%=@message.sender.name %></p>

      <p>Subject: <%=@message.subject %></p>
    </h4>
  </div>
  <div class="panel-body">
    <h5><%=@message.message.html_safe %></h5>
  </div>
</div>
<%= link_to 'Reply', new_message_path(id: @message.sender.id), class: 'login-btn btn-02', data: {turbolinks: false} %>