<div class="">
  <h3>Database</h3>

  <div class="clear10"></div>

  <%= render :partial => 'form', :locals => {:post_url => '/search/results', :search_method => :put} %>

</div>
<div class="clear"></div>

<div class="tenders_list">
</div>

