<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="table table-bordered table-responsive">
    <tr>
      <th>Tender Name</th>
      <th>Total Bid</th>
      <th>Successful Bid</th>
      <th>Unsuccessful Bid</th>
    </tr>
    <% @tenders.each do |tender| %>
    <tr>
      <td><%= tender.name %></td>
      <td><%= tender.bids.any? ? (link_to tender.total_bids_amount, tender_total_bids_path(:tender_id => tender.id), data: { turbolinks: false }) : "0" %></td>
      <td><%= tender.tender_successful_bids.any? ? (link_to tender.successful_bids_amount, tender_success_bids_path(:tender_id => tender.id), data: { turbolinks: false }) : "0" %></td>
      <td><%= tender.bids.any? ? (link_to tender.unsuccessful_bids_amount, tender_unsuccess_bids_path(:tender_id => tender.id), data: { turbolinks: false }) : "0" %></td>
    </tr>
    <% end %>
  </table>
</div>

