<div class="dashboard">	
	<div class="clear10"></div>
	<div class='tender_bids_list'>
		<%= render 'tender_bids_list' %>
	</div>
</div>

<div class="clear"></div>
<script>
	$(document).ready(function() {
		$("#myTable").tablesorter();
	}); 
</script>
