<div class="form-row">
  <div class="label">
   <h2>New Auction</h2>
  </div>

  <%= render 'form', auction: @auction %>  

  <div class="clear"></div>
  <%= link_to 'Back', auctions_path, class: "btn-02 login-btn" %>
</div>