$('#credit_warning').modal('show');
$('#credit_warning .modal-body').html('<h1> No Information Available about this Company.  Do you want to continue ?</h1><div class="row text-center mt10"><%=link_to "Yes", direct_sell_trading_parcels_path(trading_parcel: {my_transaction_attributes: { buyer_id: buyer_id, created_at: created_at, paid: paid}}, id: parcel_id, check: true, check_transactions: true), class: "btn btn-primary",remote: true, method: :post %><button type="button" class="btn btn-default hide-credit-limit-modal" data-value= <%= @parcel.id%>>No</button></div>')


$('.hide-credit-limit-modal').click(function() {
  id = $('.hide-credit-limit-modal').data('value')
  $.ajax({
    url : '<%= remove_direct_parcel_trading_parcels_path %>',
    type : 'GET',
    data : {id: id},
    success: function(response){
      $('#credit_warning').modal('hide');
    }
  })
})