<div class="dashboard">
  <div class="links text-center">
  </div>
  <hr>
  <center>
    <div class="single"></div>
    <h3>Direct Sell </h3>
    <%= render partial: 'suppliers/trading_form_new', locals: {direct_sell: true} %>
  </center>
  <div class="clear10"></div>
</div>
