<% @trading_parcel = @parcel %>
<div class="dashboard">
  <div class="links text-center">
  </div>
  <hr>
  <center>
    <div class="single">
      <h3>Edit Parcel </h3>
      <%= render partial: 'suppliers/trading_form_new', locals: {direct_sell: false} %>
    </div>
  </center>
 </div >