<h3>Suppliers</h3>
<h5><%= @parcel.description %></h5>
<table class="table table-bordered table-striped table-responsive ">
  <thead class="dark-header">
    <td>Company Name</td>
    <td>Contact No.</td>
  </thead>
  <tboady>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.company.try(:name) %></td>
        <td><%= parcel.try(:company).try(:get_owner).try(:mobile_no) %></td>
      </tr>
    <% end %>
  </tboady>

</table>
