// alert('hello');
$('#credit_warning').modal('show');
$('#credit_warning .modal-body').html('<h1>This buyer does not meet your credit requirements. Do you want to continue anyway?</h1><div class="row text-center mt10"><%=link_to "Yes", accept_transaction_trading_parcel_path(buyer_id: buyer_id, created_at: created_at, paid: paid), class: "btn btn-primary", method: :post %><button type="button" class="btn btn-default" data-dismiss="modal">No</button></div>')
console.log('hello');