<div class="c2 news">
	<h3>News & Events</h3>
  <% @news.each do |news| %>
    <div class="news-row">
    	<div class="date">
        	<div class="numeric"><%= news.date.strftime('%d') %><span></span></div>
            <div class="month"><%= news.date.strftime('%b %Y') %></div>
        </div>
        <div class="news">
        	<h1><%= news.title %></h1>
            <p><%= news.description %><p>
        </div>
        <div class="clear"></div>
    </div>
  <% end %>
</div>

