<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag 'application' %>
<title>SafeTrade</title>
</head>
<body>
<%= render :partial => "layouts/unauthenticate_navigation" %>
<div class="wrapper center-block faq">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading active" role="tab" id="headingOne">
        <h4 class="panel-title faq">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1. Why should I use SafeTrade to sell goods?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <ul>
            <li id="faq_ul_li"> Safe trade offers protection against risky clients and live monitoring of the buyers who
              still have not paid you.
            </li>
            <li id="faq_ul_li"> Save your hard-earned money and reputation.</li>
            <li id="faq_ul_li"> Build and grow the future of your business</li>
            <li id="faq_ul_li"> Online trading is the foundation for future business
            </li>
            <li id="faq_ul_li">Market globally</li>
            <li id="faq_ul_li">No commissions</li>
            <li id="faq_ul_li">Deal directly</li>
            <li id="faq_ul_li">Seller gets list of all the demand clients on the uploaded stock</li>
            <li id="faq_ul_li">Set your own rules that others have to follow</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2. Why should I use SafeTrade to buy goods?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> Smart search - No need to keep on searching endlessly
            </li>
            <li id="faq_ul_li"> Let global suppliers bring your desired parcels to you in your comfort zone</li>
            <li id="faq_ul_li"> Never miss an opportunity</li>
            <li id="faq_ul_li"> Online trading is the foundation for future business
            </li>
            <li id="faq_ul_li">Deal directly</li>
            <li id="faq_ul_li">No commission</li>
            <li id="faq_ul_li">build strong network direct with suppliers globally</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            3. Why should I demand?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> Demand is a smart auto search</li>
            <li id="faq_ul_li"> It means never miss buying opportunities</li>
            <li id="faq_ul_li"> Live and genuine information</li>
            <li id="faq_ul_li"> Build your network of suppliers</li>
            <li id="faq_ul_li">Recognition as a strong buyer to suppliers, Financiers and banks</li>
            <li id="faq_ul_li">opens up new world with full of opportunity, just raising demand</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
            4. What are the security features?
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> You can set up all limits through the following link:
              http://www.safetrade.ai/suppliers/credit
            </li>
            <li id="faq_ul_li"> Security features are always private, and only you can see your set limits.</li>
            <li id="faq_ul_li"> Credit Limits</li>
            <li id="faq_ul_li"> Overdue Limits
            </li>
            <li id="faq_ul_li">Market Limits</li>
            <li id="faq_ul_li">Block</li>
            <li id="faq_ul_li">Group Limits</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree">
            5. What is the Credit Score?
          </a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> Demand is a smart auto search</li>
            <li id="faq_ul_li"> It means never miss buying opportunities</li>
            <li id="faq_ul_li"> Live and genuine information</li>
            <li id="faq_ul_li"> Build your network of suppliers</li>
            <li id="faq_ul_li">Recognition as a strong buyer to suppliers, Financiers and banks</li>
            <li id="faq_ul_li">opens up new world with full of opportunity, just raising demand</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseThree">
            6. How can I take maximum advantage?
          </a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> Most importantly deal only on platform for your protection.
            </li>
            <li id="faq_ul_li">Use maximum of security features</li>
            <li id="faq_ul_li"> Be active on platform and build your network and brand.</li>
            <li id="faq_ul_li"> Deal directly and take your business to next level</li>
            <li id="faq_ul_li">Expand your network and increase your profits</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseThree">
            7. How do I get financial benefits?
          </a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> Financial world is fully aware that only credited user can deal on platform.
            </li>
            <li id="faq_ul_li">Banks, insurers and sellers appreciate the value and will be more attracted to finance
            </li>
            <li id="faq_ul_li">System generate a comprehensive report for personal use, which you can share with
              banks.
            </li>
            <li id="faq_ul_li"> With this report, it is easier to get financial support and favourable interest rate.
            </li>
            <li id="faq_ul_li">Impact of dealing world wide with credited client will generate positive cash flow and
              reduce risk.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseThree">
            8. How can I use networks to help my business?
          </a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse7">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> Networking has been cited as the number one rule of success in business.
            </li>
            <li id="faq_ul_li">Banks, insurers and sellers appreciate the value and will be more attracted to finance
            </li>
            <li id="faq_ul_li">Chat and Communicate with anyone - Miners, Manufacturers, Dealers, Jewelers, Financiers,
              Governmental Organizations, Trade Bodies, etc - freely and easily.
            </li>
            <li id="faq_ul_li"> Be active and build your brand</li>
            <li id="faq_ul_li"> Generate endless opportunities</li>
            <li id="faq_ul_li">Announce your interest or your requirements to individuals, groups or channels.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapseThree">
            9. Why should I always record my transactions on the platform?
          </a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> To stay protected</li>
            <li id="faq_ul_li">live scanning of your buyer till you paid</li>
            <li id="faq_ul_li">Reminder sent to Buyer for payments on due date</li>
            <li id="faq_ul_li"> You will be paid first before the Buyer can buy from anyone else</li>
            <li id="faq_ul_li"> Larger choice of trading partners</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapseThree">
            10. How am I saving money on platform?
          </a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> No Commissions</li>
            <li id="faq_ul_li"> Deal directly</li>
            <li id="faq_ul_li"> Reduce staff and travel expenses</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseThree">
            11. How can automation grow my business?
          </a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul style="list-style-type:circle">
            <li id="faq_ul_li"> Simply add your demands, and all matching parcels from around the world will be brought
              to you, at your convenience. Experience a world of powerful buying opportunities.
            </li>
            <li id="faq_ul_li"> All you need to do is upload your parcels. The network will bring the best buyers from
              around the world, automatically. You will enjoy an effortless and profitable business.
            </li>
            <li id="faq_ul_li">Set your rules, and your business is secured and in complete control.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


































