<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application' %>
    <title>SafeTrade</title>
  </head>
  <body class='privacy_policy'>
    <%= render :partial => "layouts/unauthenticate_navigation" %>
    <div class="wrapper">
      <h3>SAFE TRADE APP TERMS OF SERVICE AGREEMENT</h3>
      <p><i>Effective as of 24​ h​of January 2018</i></p>
      <p>This Terms of Service Agreement explains the terms and conditions under which you are able to use the App and Services provided by Miloni Gems DMCC. Please read carefully this Terms of Service document, and keep a copy of it for your reference.</p>
      <p>BY DOWNLOADING THE APP, ACCESSING OUR WEBSITE, OUR SERVICES OR ACCESSING ANY CONTENT THAT IS MADE AVAILABLE BY MILONI GEMS DMCC YOU EXPRESS YOUR AGREEMENT TO BE LEGALLY BOUND BY OUR TERMS OF SERVICE STATED IN THIS DOCUMENT, SO PLEASE READ THESE TERMS CAREFULLY BEFORE USING OUR SERVICES AS YOU ARE ENTERING INTO A BINDING CONTRACT WITH MILONI GEMS DMCC. IF YOU DO NOT AGREE WITH (OR CANNOT COMPLY WITH) THE TERMS AND CONDITIONS SET FORTH BELOW, DO NOT USE OR ACCESS OUR SERVICES.</p>
      <p>These Terms do not interfere with any obligation or authorization provided in any other agreement concluded between you and Miloni Gems DMCC. This agreement is concluded between Miloni Gems DMCC and User only, and not with Apple. Miloni Gems DMCC, not Apple is solely responsible for the application and the service. Miloni Gems DMCC is responsible for customer support. Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the application.</p>

      <p>1. DESCRIPTION </p>
      <p>The following definitions explain some of the terminology and abbreviations used throughout our Terms of Service Agreement:</p>
      <p>‘​Terms/Agreement​’ refers to the latest version of this Terms of Service Agreement document.</p>
      <p>‘​Site​’ refers to the website hosting the SafeTrade functionalities available at <claritynetwork.co>, website of Prism studio available at <http://www.prismlab.co/> or any other URL which may host Miloni Gems DMCC websites or Services.</p>
      <p>‘​App​’ refers to the SafeTrade mobile application provided by Miloni Gems DMCC.</p>
      <p>‘​Platform​’ refers to Site, App, and Services collectively.</p>
      <p>‘​User/You​’ refers to any person using or accessing our Platform.</p>
      <p>‘​We/Us/SafeTrade​’ refers to Miloni Gems DMCC, the Site, the App, and their developers.</p>
      <p>‘​Privacy Policy​’ refers to Privacy Policy document governing the rules of collecting, using and storing information provided by Users.</p>
      <p>‘​Third-Party​’ refers to any application, website, natural or legal entity other than Miloni Gems DMCC.</p>
      <p>‘​Content​’ refers to all images, text, audio and video data or any other information located on the Platform.</p>
      <p>‘​User Generated Content​’ refers to the Content provided by the Users.</p>
      <p>‘​Services​’ refers to the functionality of the Platform, availability of the content provided by Miloni Gems DMCC, and availability of the User Generated Content.</p>
      <p>‘​Information​’ refers to information about the Users themselves provided for the purpose of using our Services, contacting support or anonymous statistical information collected from the Users through cookies or third-party services.</p>
      <p>‘​Confidential Information​’ refers to any and all information disclosed between the parties of this Agreement in relation to the Services, and especially, without limiting, Content available only for registered Users. Confidential Information does not cover information that was known to either party prior to disclosure, information that was made available to the public or information which is intended and disclosed for the purpose of publishing.</p>
      <h2>2.USE OF THE SERVICES<h2>
      <h1>(A) ELIGIBILITY</h1>
      <p>2.1 By registering for the use of the Services, you confirm that you are at least 18 years of age. By using our Services, you confirm that you (i) have full legal capacity to enter into a binding relation, (ii) that you will provide true, accurate, current, and complete information where requested, and information which is otherwise compatible with these Terms, (iii) that you will not use Services contrary to these Terms or applicable laws. If you are accessing our Services on behalf of a legal entity, you further confirm that (i) you have the appropriate authorization to accept the terms of this Agreement, (ii) you have the appropriate authorization to bind such legal entity by accepting this Agreement, (iii) legal entity on behalf of whom you accept this Agreement has full power to enter into this agreement and to perform obligations as defined herein.</p>
      <p>2.2  We may not control who uses the Platform, so it is upon you to assess whether using the Platform is in compliance with any local laws and regulations. Whenever you are using our Platform, you will need to comply with these Terms and any applicable laws, regulations, and policies. If any part of the Platform is not in compliance with your local laws, you may not use the Platform. Any such Service will be considered as ‘not available in your region.’</p>
      <h1>(B) SCOPE OF THE SERVICES</h1>
      <p>2.3 SafeTrade offers a Platform to facilitate all aspects of diamond sales and auctions. Access to these Services is available upon registration which is done through proper forms in the App.</p>
      <p>2.4 Users are able to post and access the Content relating to the purchase and sale of diamonds. Auctions, prices, availability and other commercial content made available through the Platform is provided by Users. We do not in any way endorse any individual User of the Platform. Users are solely responsible for the Content they provide and for any obligation they undertake through the Platform.</p>
      <p>2.5 We may limit some of the Services, especially in the event that User is late in paying for the purchased goods within the due date. Whilst this does provide some level of protection for the Users who are selling goods through the Platform, you hereby understand that this system does not guarantee 100% security or any kind of guarantee that the User who is not blocked will make the payment. You understand that SafeTrade cannot guarantee the behavior and conduct of the User. You understand and agree to release us from any liability arising out of your relationships with other Users regardless if such relationship is established through the Platform.</p>
      <p>2.6 Miloni Gems DMCC does not guarantee that the information on the Platform is correct or accurate. You are strongly advised to conduct your own additional research before reliance on the Content on the Platform. You understand that Users may post content that contains errors or is otherwise untrue and that Platform may experience bugs or malfunctions. Although we continually take measures in order to assure the validity of the Content, we do not accept any responsibility for the Content made available through the Platform.</p>
      <h1><b>2.7 SafeTrade cannot guarantee or warrant that the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis.</b></h1>
      <h2>(C) REGISTRATION</h2>
      <p>2.8 Some of the Services provided are only available to registered Users. During the registration process, you will be asked to provide some personal information, the collection, use, and storage of which is regulated by our Privacy Policy document and applicable laws. Users are required to provide true, accurate, current and complete information about themselves as prompted by forms provided. If you provide information contrary to aforementioned conditions, we may deny you or terminate your access to parts of our Services. We are not responsible for any failure in providing the Services which results from information that is not true, accurate, current and complete.</p>
      <p>2.9 You understand that it is your responsibility to keep your login information confidential. You are responsible for all activity under your account. If you ever find out or suspect that someone accessed your account without authorization, you are advised to inform us immediately.</p>
      <h2>(D) CONTACT</h2>
      <p>2.10  By allowing us access to your e-mail address, you agree that we may contact you using such contact information, for any matters relating to the Services (​Service emails​). These e-mails do not constitute “unsolicited commercial e-mail advertisements,” and you are not able to opt-out of receiving them. ​You may opt-in or subscribe to receive emails about content, promotions, special offers and or other topics of interest related to the Miloni Gems DMCC and our affiliates (​Promotional e-mails​). You may choose to stop receiving these promotional emails at any time by following the instructions contained in promotional emails.</p>
      <p>2.11 If you have any question or suggestion you can contact us at contact@safetrade.ai.</p>
      <h1>3. ACCEPTABLE USE POLICY</h1>
      <p>3.1 You agree that you will not misuse our Platform. A misuse constitutes any use, access or interference with the Platform contrary to Terms, Privacy Policy and applicable laws and regulations. We can, in our sole discretion, suspend or terminate access to all or parts of the Platform to any User, without prior notice or need to deliberate on reasons for such measure. We reserve the right to deny Services to anyone at any time. During your use of our Platform, you will not behave contrary to the Terms, Policies, applicable laws and regulations, and you will especially not, without limitation, do any of the following:</p>
      <p>(i) send or otherwise post unauthorized commercial communications (such as spam) through the Site;</p>
      <p>(ii) collect Users' content or information, or otherwise access the Site using automated means (such as harvesting bots, robots, spiders, or scrapers) without our permission;</p>
      <p>(iii) upload viruses or other malicious code;</p>
      <p>(iv) bully, intimidate, or harass any other User;</p>
      <p>(v) post or transmit content which is illegal, hateful, obscene, threatening, incites violence, insulting, defamatory, infringing of intellectual property rights, invasive of privacy, or contains graphic or gratuitous violence or is otherwise objectionable to third parties;</p>
      <p>(vi) harass, threaten, embarrass or cause distress or discomfort upon another individual or entity or impersonate any other person or entity or otherwise restricting or inhibiting any other person from using or enjoying the Platform;</p>
      <p>(vii) take any action creating a disproportionately large usage load on our Platform unless expressly permitted by Miloni Gems DMCC ;</p>
      <p>(viii) post or transmit content that is misleading.</p>
      <p>(ix) communicate any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships, or otherwise infringes or violates someone else's rights;</p>
      <p>(x) encourage participation in or promote any contents, pyramid schemes, surveys, chain letters or spamming, or unsolicited emailing through the Platform;</p>
      <p>(xi) post or transmit hyperlinks to other websites that violate these Terms;</p>
      <p>(xii) facilitate or encourage any violation of these Terms.</p>
      <p>3.2 Users are solely responsible for their own content and the consequences of making the content available to third-parties.</p>
      <p>3.3 If for any reason, your account, or any part thereof, is suspended, banned, restricted, blocked, terminated or otherwise disabled by SafeTrade, you agree to abide by such decision. You may not create another account with the intent to bypass these limitations or attempt to circumvent any limitation imposed on your account without our permission. Any effort to evade these limitations may result in the termination of all current and future accounts you register.</p>
      <p>3.4You hereby agree that you will not behave contrary to good business practices and generally accepted corporate ethics. You will not mislead other Users, make false representations or make promises you do not intend to keep. Only enter into a binding relationship if you are able to comply with the obligations undertaken. We may suspend your account if we suspect that your behavior is in violation of these requirements.</p>
      <h3>4.INTELLECTUAL PROPERTY</h3>
      <h2>(A) PROPRIETARY RIGHTS</h2>
      <p>4.1 The copyright and all intellectual property rights in the Platform belong to Miloni Gems DMCC or are used with appropriate permissions. It includes design, all database rights, trademarks, text, graphics, code, file and links, service marks, and the selection and set up thereof. All rights are reserved. Nothing in this agreement shall be understood or intended for transfer of such intellectual property rights to you or any other third party.</p>
      <p>4.2Subject to your compliance with this Agreement, we grant you a limited, non-exclusive, non-transferable, non-sublicensable license to access and use the Platform. Except as expressly permitted in this Agreement, you may not:</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>


  </body>
</html>
