<%#= render partial: 'customers/trading/search_trading' %>
<%= link_to "Create Parcel", suppliers_path, class: 'btn btn-danger btn-sm side-btn', data: {turbolinks: false } %>
<h3> My Parcels </h3>
<div class="dashboard">
  <div class="table trading-parcel-table">
    <div class="clear10"></div>
    <%= render partial: 'customers/trading/supplier_parcels', locals: { parcels: @my_parcels } %>
  </div>
</div>
