$('#credit_warning').modal('show')
<% credit_limit = CreditLimit.where(buyer_id: proposal.buyer_id, seller_id: current_company.id).first %>
<% total_price = proposal.price*proposal.trading_parcel.weight %>
<% if credit_limit.nil? %>
  <% new_limit = total_price %>
<% else %>
  <% new_limit = credit_limit.credit_limit + (total_price - available_credit_limit) %>
<% end %>
$('#credit_warning .modal-body').html('<h1>Your existing credit limit for this buyer was: $<%= available_credit_limit %>. This transaction would increase it to $<%= new_limit %>. Would you like to continue?</h1><div class="row text-center mt10"><%=link_to "Yes", accept_proposal_path(id: proposal.id, check: false), class: "btn btn-primary", method: :put%><button type="button" class="btn btn-default" data-dismiss="modal">No</button></div>')