<div class="tableCnt">
	<table id="example" class="stripe row-border order-column" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th></th>
				<th class="if">if</th>
				<th class="vvs1">vvs1</th>
				<th class="vvs2">vvs2</th>
				<th class="vs1">vs1</th>
				<th class="vs2">vs2</th>
				<th class="si1">si1</th>
				<th class="si2">si2</th>
				<th class="si3">si3</th>
				<th class="i1">i1</th>
				<th class="i2">i2</th>
				<th class="i3">i3</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>d</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>

			<tr>
				<td>e</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>

			<tr>
				<td>f</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>
			<tr>
				<td>g</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>
			<tr>
				<td>h</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>
			<tr>
				<td>i</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>
			<tr>
				<td>j</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>
			<tr>
				<td>k</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>
			<tr>
				<td>l</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>

			<tr>
				<td>m</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>
			<tr>
				<td>n</td>
				<td class="if"><a href="#">1520.0</a></td>
				<td class="vvs1"><a href="#">1520.0</a></td>
				<td class="vvs2"><a href="#">1520.0</a></td>
				<td class="vs1"><a href="#">1520.0</a></td>
				<td class="vs2"><a href="#">1520.0</a></td>
				<td class="si1"><a href="#">1520.0</a></td>
				<td class="si2"><a href="#">1520.0</a></td>
				<td class="si3"><a href="#">1520.0</a></td>
				<td class="i1"><a href="#">1520.0</a></td>
				<td class="i2"><a href="#">1520.0</a></td>
				<td class="i3"><a href="#">1520.0</a></td>
			</tr>

		</tbody>
	</table>
</div>

<script>
var table = $('#example').DataTable( {
        scrollY:        "auto",
        scrollX:        true,
        scrollCollapse: true,
        paging:         false
      
      } );
</script>