<p>Hello</p>

<h4>Your proposal is negotiated as:</h4>
<p>Credit: <%= @last_negotiated.credit %></p>
<p>Percent: <%= @last_negotiated.percent %></p>
<p>Avg: <%= @last_negotiated.price %></p>
<p>Total: <%= @last_negotiated.total_value %></p>
</br>
<!-- <p>To view more: <%#= link_to "Click Here", proposal_url(@last_negotiated.proposal.id) %> -->