<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <title>QuickBlox JavaScript WebRTC sample</title> -->

    <!-- <link rel="canonical" href="https://quickblox.github.io/quickblox-javascript-sdk/samples/webrtc"/> -->
    <!-- <link rel="shortcut icon" href="https://quickblox.com/favicon.ico"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <!-- use http://una.im/CSSgram/ for filters -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/una/CSSgram/master/source/css/cssgram.css">
    <!-- app styles -->
    
