
<!-- TEMPLATES -->
    <!-- stateBoard -->
    <script type="text/template" id="tpl_default">
        <!-- QuickBlox room is <b><%= tag %></b>. -->
        Logged in as <b><%= name %></b>
        <!-- <button class='fw-link j-logout'>Logout</button> -->
    </script>

    <script type="text/template" id="tpl_during_call">
        Login in as <b><%= name %></b>
    </script>

    <script type="text/template" id="tpl_device_not_found">
        <!-- Error: devices (camera or microphone) are not found. -->
        <!-- <span class="qb-text">Login in <b>as <%=name%></b></span> -->
        <!-- <button class='fw-link j-logout'>Logout</button> -->
    </script>

    <script type="text/template" id="tpl_call_status">
        <% if(typeof(users.accepted) !== 'undefined') { %>
            <%  _.each(users.accepted, function(el, i, list) { %>
                <% if(list.length === 1){ %>
                    <b><%= el.full_name %></b> has accepted the call.
                <% } else { %>
                    <% if( (i+1) === list.length) { %>
                        <b><%= el.full_name %></b> have accepted the call.
                    <% } else { %>
                        <b><%= el.full_name %></b>,
                    <% } %>
                <% } %>
            <% }); %>
        <% } %>

        <% if(typeof(users.rejected) !== 'undefined') { %>
            <%  _.each(users.rejected, function(el, i, list) { %>
                <% if(list.length === 1){ %>
                    <b><%= el.full_name %></b> has rejecterd the call.
                <% } else { %>
                    <% if( (i+1) === list.length) { %>
                        <b><%= el.full_name %></b> have rejecterd the call.
                    <% } else { %>
                        <b><%= el.full_name %></b>,
                    <% } %>
                <% } %>
            <% }); %>
        <% } %>
    </script>

    <script type="text/template" id="tpl_call_stop">
        Call is stopped.&emsp;
        Login&nbsp;in&nbsp;as&nbsp;<%=name%>
        <!-- <button class='fw-link j-logout'>Logout</button> -->
    </script>

    <script type="text/template" id="p2p_call_stop">
        <b><%=name%> has <%=reason%>.</b> Call is stopped.&emsp;
        Login&nbsp;in&nbsp;as&nbsp;<%=currentName%>
        <!-- <button class='fw-link j-logout'>Logout</button> -->
    </script>

<script type="text/template" id="dashboard_tpl">
    
