<p>Hello <%=@transaction.trading_parcel.customer.first_name %></p>
<p>Your direct sell is rejected by Seller. </p>
<p>View the details in history for transaction_uid :  <%= @transaction.transaction_uid %><p>
  <br>
  Thanks & Regards,<br>
  SafeTrade Team.