Hello <%= @shared_to_customer.name %>,
<br><br>
<p><%= @shared_by_customer.name %> has shared some of his information with you. You can view this by clicking <%= link_to "here", shared_info_customer_url(id: @shared_by_customer.id) %></p>
<br><br>
Thanks & Regards,<br>
Dialuck Team

