<h3>Dashboard</h3>
<table class="table table-bordered table-striped table-responsive ">
  <thead class="dark-header">
    <td>Box</td>
    <td>No. of Parcels</td>
    <td>No. of Demand</td>
  </thead>
  <tboady>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= link_to parcel.description, parcel_history_trading_parcel_path(parcel) %></td>
        <td><%= link_to parcel.related_parcels(current_company).count, related_seller_trading_parcel_path(parcel), data: { turbolinks: false } %></td>
        <td><%= link_to parcel.demand_count(parcel, current_company, false), demand_broker_path(id: parcel.id), data: { turbolinks: false } %></td>
      </tr>
    <% end %>
  </tboady>

</table>

