<div class="dashboard">
  <h3> Demands </h3>
  <div class="clear10"></div>
  <h5><%= @parcel.description %></h5>
  <div class="table">
    <table id='sellerList' class="table table-bordered tablesorter table-responsive">
      <thead class="thead-desktop">
        <th>Company Name</th>
        <th>Contact No.</th>
      </thead>
      <% @demand.each do |d| %>
        <tr>
          <td><%= d.company.try(:name) %></td>
          <td><%= d.try(:company).try(:get_owner).try(:mobile_no) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>