<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter">
    <tr>
      <th></th>
      <th>Buyer </th>
      <th>Add Credit Limit</th>
      <th>Block</th>
    </tr>
    <% @customers.each.with_index(1) do |customer, i|%>
      <% unless customer.is_blocked_by_supplier(current_customer.id) %>
        <tr>
          <td></td>
          <td><%= customer.company %></td>
          <td><%=text_field_tag "limit", get_credit_limit(customer, current_customer), 'data-id'=> customer.id %></td>
          <td><%= image_tag("/assets/wrong.png", width: "15", class: 'image_block', 'data-id'=> customer.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>