<div class="search-form form-wrapper credit-form">
  <%= form_tag(credit_suppliers_path, :method => "get", id: "search-form") do %>
    <div class="form-row">
      <div class="label">Search</div>
      <div class="field">
        <%#= text_field_tag :name, params[:search], placeholder: "Search Companies", class: 'input'%>
        <%= select_tag :name, params[:search], placeholder: "Search Companies", class: 'input'%>
      </div>
    </div>
    <div class="form-row">
      <div class="label"></div>
      <div class="field">
        <%= submit_tag "Search", :name => nil, class: 'login-btn btn-02' %>
      </div>
    </div>
  <% end %>
</div>