<div class="dashboard">
  <div class="links text-center">
  </div>
  <hr>
  <center>
    <div class="single">
    <h3>New Parcel </h3>
    <%= render partial: 'suppliers/trading_form_new', locals: {direct_sell: false} %>
    </div>
  </center>
  <div class="clear10"></div>
</div>
